* {
    padding: 0;
    margin: 0;

    body {
        #accueil{
            background-color: #289DD2;
        }
        #partenaire {
            background-color: #289DD2;

            .container {
                .d-flex {
                    img {
                        width: 15%;
                    }
                    i {
                        font-size: 50px;
                        color: white;
                    }
                }
            }
        }

        #voyage {
            background-color: #289DD2;

            .container {
                .row {
                    .col-4 {
                        p {
                            svg {
                                fill: #fff;
                                height: 30px;
                                width: 30px;
                            }
                        }

                    }
                }
            }
        }

        #formules {
            #cardg {
                .card {
                    #cardb {
                        #icon {
                            i {
                                font-size: 50px;
                            }
                        }
                    }
                }
            }
        }

        .card {
            form {
                .btn {
                    background-color: #289DD2;

                }
            }
        }

        #reservation {
            background-color: #289DD2;
        }

        #footer {
            background-color: #289DD2;
        }
    }
}